* {
  margin: 0;
  padding: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif; }

img {
  max-width: 100%; }

.main-container .main .person-card .btn-fab, .main-app aside .btn-fab {
  background-color: #FE0057;
  display: block;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 77px rgba(0, 0, 0, 0.36);
  box-shadow: 0 0 77px rgba(0, 0, 0, 0.36);
  text-align: center;
  line-height: 112px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .main-container .main .person-card .btn-fab:hover, .main-app aside .btn-fab:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .main-container .main .person-card .btn-fab svg, .main-app aside .btn-fab svg {
    width: 24px;
    height: 24px; }

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }
  .main-container .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .main-container .main .main-heading {
      margin-right: 200px; }
      .main-container .main .main-heading h1 {
        font-size: 110px;
        line-height: 1; }
    .main-container .main .person-card {
      width: 30%;
      -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      padding: 4% 4% 2% 4%;
      margin-right: -20%;
      z-index: 2;
      background-color: #fff;
      position: relative; }
      .main-container .main .person-card h1 {
        line-height: 1;
        margin-bottom: 80px; }
      .main-container .main .person-card h3 {
        position: absolute;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        right: -20px;
        top: 110px;
        line-height: 1;
        margin: 0;
        padding: 0; }
      .main-container .main .person-card .btn-fab {
        position: absolute;
        left: -50px;
        top: 50%;
        margin-top: -50px; }
  .main-container .right-bg {
    background: #14EAF0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%; }

.main-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }
  .main-app aside {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    background-color: #14EAF0;
    padding: 60px;
    position: relative;
    -webkit-box-shadow: 0px 0 70px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0 70px 0 rgba(0, 0, 0, 0.3); }
    .main-app aside h1 {
      font-size: 35px;
      line-height: 40px;
      font-weight: 700; }
    .main-app aside h3 {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.3);
      font-weight: 400;
      line-height: 40px; }
    .main-app aside .btn-fab {
      position: absolute;
      right: -50px;
      top: 50%;
      margin-top: -50px; }
      .main-app aside .btn-fab svg {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg); }
    .main-app aside nav {
      margin-top: 30px; }
      .main-app aside nav small {
        font-family: 'Georgia', serif;
        font-style: italic;
        letter-spacing: 2px;
        font-size: 10px; }
      .main-app aside nav ul {
        list-style: none; }
        .main-app aside nav ul li a {
          font-size: 14px;
          text-decoration: none;
          color: #000000;
          line-height: 35px;
          font-weight: 700; }
          .main-app aside nav ul li a:hover {
            text-decoration: line-through; }
  .main-app .contents {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 100px; }
    .main-app .contents .content-wrapper {
      max-width: 759px; }
      .main-app .contents .content-wrapper p {
        font-family: 'Georgia', serif; }
      .main-app .contents .content-wrapper .lead {
        font-size: 26px;
        text-align: center;
        margin-bottom: 50px;
        line-height: 35px; }
      .main-app .contents .content-wrapper .detail {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: rgba(0, 0, 0, 0.7);
        font-size: 16px;
        line-height: 1.7; }
        .main-app .contents .content-wrapper .detail p:first-child {
          padding-right: 24px; }
